<nav class="bottom-nav">
  <a class="nav-item" routerLink="/dashboard" routerLinkActive="active">
    <span class="material-icons">assignment</span>
    <span class="label">Assessments</span>
  </a>
  
  <a class="nav-item" routerLink="/new-assessment" routerLinkActive="active">
    <span class="material-icons">add_box</span>
    <span class="label">Add New</span>
  </a>
  
  <a class="nav-item" routerLink="/settings" routerLinkActive="active">
    <span class="material-icons">settings</span>
    <span class="label">Settings</span>
  </a>
</nav>
